*{
    margin: 0;
}
header{
    background-color: #D9D9D9;
    height: 15vh;
}
main{
    height: 75vh;
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 33vw;*/
}
.textaside1{
    height: 100%;
    width: 100%;
    background-color: #78786F;
}
.textaside2{
    height: 100%;
    width: 100%;
    background-color: #828569;
}
article{
    background-color: #61615C;
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33vw;
}
div{
    width: 100%;
    height: 100%;
}
footer{
    background-color: #D9D9D9;
    height: 10vh;
}