body{
    margin: 0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box-1, .box-2, .box-3{
    background-color: #b1b1b1;
    width: 300px;
    height: 500px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;

}

.icon-1, .icon-2, .icon-3{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    top: -50px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/009/427/239/original/icons-icon-free-vector.jpg");
    background-size: cover;
}