*{
    margin: 0;
}
/*-----------------------header------------------*/
header{
    height: 20vh;
    background: #D9D9D9;
}
main{
    height: 60vh;
    display: flex;
}
main{
    display: flex;
}
article{
    width: 60vw;
    height: 100%;
    background-color: #8E8E8E;
}
aside{
    width: 40vw;
    height: 100%;
    background-color: #727459;
}
footer{
    height: 20vh;
    background-color: #D9D9D9;
}