@media screen and ( min-width: 600px ) and (max-width: 1100px){
    main {
        display: grid;
        margin-top:5vh;
        height: 85vh;
        width: 100%;
        grid-template-areas:
            "section section section section"
            "article-1 article-2 article-3 article-4"
            "footer footer footer footer";
        grid-template-rows: 4fr 4fr 2fr;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }
    p{
        display: inline-block;
        transform: rotate(-90deg);
        padding: 10px;
    }
}