@media screen and ( max-width: 600px ) {
    *{
        margin: 0;
    }
    body{
        height: 180vh;
        width: 100%;
    }
    nav{
        display: inline;
        flex-direction: column;


    }
    span{
        width: 100%;
        padding: 0;
        margin: 5px 0;
        text-align: center;

    }
    span, section, article, footer{
    text-align: center;
}
    main {
        display: grid;
        height: 160vh;
        width: 100%;
        grid-template-areas:
            "section"
            "article-1"
            "article-2"
            "article-3"
            "article-4"
            "footer";
        grid-template-rows: 5fr 3fr 3fr 3fr 3fr 1fr;
        grid-template-columns: 2fr;
}