.head{
    background: #3c6dff;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 5px;
    margin: 20px;
}
.squad{
    background: #265cfb;
    height: 100%;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.flex{
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.footer{
    background: #3c6dff;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 5px;
    margin: 20px;
}
