@media screen and ( min-width: 0px ) and ( max-width: 600px ) {
    header{
        height:20vh;
    }
    main{
        display: flex;
        flex-direction: column;
        height: 80vh;

    }
    section{
        width: 100%;
        height: 20vh;
    }
}