*{
    margin:0;
    scroll-behavior: smooth;
}
.pink{
    background-color: #ff7be0;
    color: black;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.black{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-weight: 300;
    margin-bottom: 50px;
}
p{
    padding: 0 70px;
    text-align: center;
}
.red {
    background-color: red;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blue {
    background-color: cadetblue;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
font-size: 80px;
    margin: 50px;
    text-decoration: none;
}
